{
  "extends": [ "taro" ],
  "rules": {
    "no-unused-vars": [ "error", { "varsIgnorePattern": "Taro" } ],
    "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx", ".tsx" ] } ]
  },
  "parser": "babel-eslint",
  "plugins": [ "typescript" ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "globals": {
    // 某些情况使用基本数据类型出现no-undef
    "boolean": true,
    "number": true,
    "string": true,
    "object": true,
    "any": true
  }
}
